
<div id="container">
    <div class="d-flex vh-100 justify-content-center">
        <div class="row align-self-center">
            <div class="card mr-5" style="width:400px">
                <img class="card-img-top mt-5 icon" [src]="petImage" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Register New Pet</h4>
                    <p class="card-text">You want to create pet first</p>
                    <a class="btn btn-primary" (click)="createPet()">Create new Pet</a>
                </div>
            </div>
            <div class="card" style="width:400px">
                <img class="image" [src]="ownerImage" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Register New Owner</h4>
                    <p class="card-text">First create a pet</p>
                    <a class="btn btn-primary" (click)="createOwner()">Create new Owner</a>
                </div>
            </div>
        </div>
    </div>
</div>
