<div style="text-align: center">
    <h3>Update Owner Details</h3><br/>
</div>

<div style="width: 500px; margin: auto;">
    <div class="submit-form">
      <div>

        <div class="form-group">
          <label >Enter first name</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentOwner.fName"
          />
          <br/>
        </div>
  
        <div class="form-group">
          <label>Enter last name</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentOwner.lName"
          />
          <br/>
        </div>

        <div class="form-group">
            <label>Enter addressline 1</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="currentOwner.addressline1"
            />
            <br/>
          </div>

          <div class="form-group">
            <label>Enter addressline 2</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="currentOwner.addressline2"
            />
            <br/>
          </div>

          <div class="form-group">
            <label>Enter mobile number</label>
            <input
              type="text" pattern="[0-9]+"
              class="form-control"
              [(ngModel)]="currentOwner.mobile"
            />
            <br/>
          </div>
  
          <button class="btn btn-success" type="submit" (click)="updateOwner()">Update</button>
          <button class="btn btn-reset" type="reset" (click)="cancelOwner()">Cancel</button>
      </div>
  
      <div>
        <h3>{{message}}</h3>
      </div>
    </div>
  </div>
