<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand">PET CARE </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li></li>
              <li class="nav-item">
                  <a class="nav-link" routerLink='/home' >HOME</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink='/owner'>OWNER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='/pet'>PET</a>
              </li>

          </ul>
      </div>


  </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>